.inputBox
{
    margin-left: 10px
}
.textbox,
.button
{
    border: 1px solid #CD853F;
    -moz-border-radius: 10px;
    -webkit-border-radius: 9px;
    padding-left: 5px;
    font-weight: bold;
}
.button
{
    background-color:#CD853F;
    color: #000000;
}
.button:hover,
.attachButton:hover
{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.label
{
    font-size: 400;
    font-weight: bold;
}
.attachButton
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 9px;
    background-color:#CD853F;
    width:35px;
    display:inline-block;
    position:absolute;
    left:13px;
    margin-top:5px;
}
.attachButton > input
{
    display: none;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #CD853F;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  visibility: hidden;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
